<GameConfig>

	<EventHandler
		handlerName="SignInHandler"  
		handlerClass="SignInHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SignIn"
		handlerName="SignInHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="GetServerInformationHandler"  
		handlerClass="GetServerInformationHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="GetServerInformation"
		handlerName="GetServerInformationHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="CreateRoomHandler"  
		handlerClass="CreateRoomHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="CreateRoom"
		handlerName="CreateRoomHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="GetRoomsHandler"  
		handlerClass="GetRoomsHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="GetRooms"
		handlerName="GetRoomsHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="CloseRoomHandler"  
		handlerClass="CloseRoomHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="CloseRoom"
		handlerName="CloseRoomHandler">
	</EventHandlerMapping>

</GameConfig>







