<GameConfig>

	<EventHandler
		handlerName="SignInHandler"  
		handlerClass="usersigning.SignInHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SignIn"
		handlerName="SignInHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="SignOutHandler"  
		handlerClass="usersigning.SignOutHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SignOut"
		handlerName="SignOutHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="GetServerInformationHandler"  
		handlerClass="usersigning.GetServerInformationHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="GetServerInformation"
		handlerName="GetServerInformationHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="CreateRoomHandler"  
		handlerClass="roomlist.CreateRoomHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="CreateRoom"
		handlerName="CreateRoomHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="GetRoomsHandler"  
		handlerClass="roomlist.GetRoomsHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="GetRooms"
		handlerName="GetRoomsHandler">
	</EventHandlerMapping>
		
	<EventHandler
		handlerName="JoinRoomHandler"  
		handlerClass="roomlist.JoinRoomHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="JoinRoom"
		handlerName="JoinRoomHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="CloseRoomHandler"  
		handlerClass="inroom.CloseRoomHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="CloseRoom"
		handlerName="CloseRoomHandler">
	</EventHandlerMapping>
	
	
	<EventHandler
		handlerName="ChangeStatusHandler"  
		handlerClass="inroom.ChangeStatusHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="ChangeStatus"
		handlerName="ChangeStatusHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="SendChatMessageHandler"  
		handlerClass="chat.SendChatMessageHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SendChatMessage"
		handlerName="SendChatMessageHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="LeaveRoomHandler"  
		handlerClass="inroom.LeaveRoomHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="LeaveRoom"
		handlerName="LeaveRoomHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="LaunchGameHandler"  
		handlerClass="inroom.LaunchGameHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="LaunchGame"
		handlerName="LaunchGameHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="BootPlayerHandler"  
		handlerClass="inroom.BootPlayerHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="Booted"
		handlerName="BootPlayerHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="EnterGameHandler"  
		handlerClass="games.EnterGameHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="EnterGame"
		handlerName="EnterGameHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="Duel1A2BSetAnswerHandler"  
		handlerClass="games.duel1a2b.SetAnswerHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SetAnswerDuel1A2B"
		handlerName="Duel1A2BSetAnswerHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="Duel1A2BGuessHandler"  
		handlerClass="games.duel1a2b.GuessHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="GuessDuel1A2B"
		handlerName="Duel1A2BGuessHandler">
	</EventHandlerMapping>
	
	
	<EventHandler
		handlerName="Boss1a2bAttackHandler"  
		handlerClass="games.boss1a2b.SetAnswerHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SetAnswerBoss1A2B"
		handlerName="Boss1a2bSetAnswerHandler">
	</EventHandlerMapping>
	
	
	<EventHandler
		handlerName="Boss1a2bAttackHandler"  
		handlerClass="games.boss1a2b.AttackHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="AttackBoss1A2B"
		handlerName="Boss1a2bAttackHandler">
	</EventHandlerMapping>
</GameConfig>







