<GameConfig>

	<EventHandler
		handlerName="SignInHandler"  
		handlerClass="SignInHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="SignIn"
		handlerName="SignInHandler">
	</EventHandlerMapping>
	
	<EventHandler
		handlerName="GetServerInformationHandler"  
		handlerClass="GetServerInformationHandler"> 
	</EventHandler>
	
	<EventHandlerMapping
		event="GetServerInformation"
		handlerName="GetServerInformationHandler">
	</EventHandlerMapping>

</GameConfig>







